<html lang="en" class="no-js">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="Spiceworks, Inc." />
    <meta name="description" content="Feature Cohort Analysis" />
    <meta http-equiv="X-UA-Compatible" content="IE=8" />
    <title>RAWR! Box - To the cloud!</title>
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag :all %>
  </head>
  <body>
    <h1 class='title headboard big-shadow'>
      <span class='title-wrapper'>
				<a href="/">RAWR! Box</a>
      </span>
			<a href='/configuration_values' class='config-link'><img src='/images/cog.png'/></a>
    </h1>
    <div id='container'>
			<img src='/images/spicerex.png' class='float-left'/>
			<div id='bubble'>
				<%= yield %>
			</div>
    </div>
  </body>
</html
